nav.pdoc {
  background-color: #274a63;
}

nav.pdoc > div > ul > li > a {
  color: #fbd279;
  font-weight: bold;
}

nav.pdoc li:hover {
  background-color: #3c6e91;
}

.pdoc .attr {
  border-radius: 10px;
}

.pdoc-code .kc {
  color: var(--name);
}

.pdoc-code .nb {
  color: #aa5d1f;
  font-style: italic;
}

.pdoc {
  --accent: #e7f1f7;
  --def: #aa5d1f;
  --name: #134ba6;
}
