{% extends "default/module.html.jinja2" %}

{% defaultmacro default_value(var) -%}
    {%- if var.default_value_str %}

        {% if var.default_value_str | length > 100 -%}
            <input id="{{ var.qualname }}-view-value" class="view-value-toggle-state" type="checkbox" aria-hidden="true" tabindex="-1">
            <label class="view-value-button pdoc-button" for="{{ var.qualname }}-view-value"></label>
        {%- endif -%}
        <span class="default_value"><i>defined at runtime</i></span>
    {%- endif -%}
{% enddefaultmacro %}
